html
  head
    title= title
  script(src="https://static.line-scdn.net/liff/edge/2/sdk.js")
  script(src='liff.js')
  body
    div
        input(type=text value="")#sharedUrl
        button
    h1#title
    p#description
    div#imageContainer
    div#shareResult
    